.formularios {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    z-index: 1;
    /* display: none; */
}

.contato,
.entrar,
.share {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    background-color: var(--color-menu-2);
    border-radius: .25vw;
    overflow-y: auto;
    display: none;
}

.form {
    display: flex;
    align-items: center;
    margin: 1vw;
}

.header-forms {
    display: flex;
    align-items: center;
}

.header-forms .subtitulo {
    font-size: calc(var(--font-size) * 1.75vw);
    font-weight: 300;
    margin: 0;
}

.header-forms .bnt {
    position: absolute;
    top: 1vw;
    right: 1vw;
}

.form .content {
    display: flex;
}

.form .input {
    margin: auto;
    background-color: transparent;
    padding: .25vw 1vw;
    width: 27vw;
    border-radius: .25vw;
    margin-left: .5vw;
    margin-top: .25vw;
    border: var(--borda);
    background-color: var(--color-menu);
}

.form .input:focus {
    outline: none;
}

.form .bnt {
    background-color: transparent;
    color: var(--color-text-menu);
    border: var(--borda);
    border-radius: .25vw;
    padding: .25vw 1.5vw;
    font-weight: 500;
    transition: all .15s ease-in-out;
}

.form .bnt:hover {
    transform: scale(1.025);
}

/* Contatos, ou entre en contato */
.contato {
    width: 65vw;
    top: 6vw;
    padding: 1vw;
}

.contato .form {
    flex-direction: column;
    row-gap: 1.75vw;
}

.contato .form .part {
    display: flex;
    flex-direction: column;
    row-gap: .75vw;
}

.contato .form .mensagem {
    height: 12vw;
}

.contato .form input[type="submit"] {
    padding: .25vw 10vw;
}

/* login ou entrar soq em ingles sla */
.entrar {
    /* display: flex; */
    height: 85vh;
    top: 5.25vw;
    width: 68vw;
    margin: 0;
    overflow-y: hidden;
}

.entrar .form-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
}

.entrar .form {
    flex-direction: column;
    row-gap: 1vw;
}

.entrar .content {
    flex-direction: column;
    align-items: center;
    row-gap: 1vw;
}

.entrar .local {
    overflow-y: auto;
}

.entrar .input-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.entrar #label_foto {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 8.25vw;
    height: 8.25vw;
    border: var(--borda);
    border-radius: 50%;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.entrar #label_foto .icon {
    color: var(--color-text-menu);
    font-size: 3.5vw;
}

.entrar input[type="file"] {
    display: none;
}

.entrar .content>.bnt {
    padding: .25vw 0;
    width: 7.5vw;
}

.entrar .google {
    overflow-y: auto;
    background-color: var(--color-principal-light);
}

.entrar .google .form,
.entrar .google .content {
    row-gap: 1.5vw;
}

.entrar .google .texto {
    color: var(--color-text-light);
    font-weight: 500;
}

.entrar .google .subtitulo {
    color: var(--color-sutitle-light);
    font-weight: 500;
}

.entrar .google .bnt {
    border: var(--borda-light);
}

.entrar .google .bnt:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.entrar .google .bnt-google {
    padding: auto;
    width: 27.5vw;
}

.entrar .google .textos {
    margin: 0 1vw;
}

.entrar .google .dadosEx.txt_120 .texto {
    font-size: calc(1.2 * 1.15vw);
    letter-spacing: .075vw;

}

.entrar .dadosEx {
    display: flex;
    flex-direction: column;
    row-gap: 1vw;
}

.entrar .google .email {
    display: flex;
    flex-direction: column;
    width: 27.5vw;
    padding: .25vw .5vw;
    border: var(--borda-light);
}

.entrar .google .email .texto {
    display: flex;
    align-items: center;
    column-gap: .5vw;
}

.entrar .google .copy,
.share .copy {
    background-color: transparent;
    transition: all .25s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 2.5vw;
    height: 2.5vw;
}

.entrar .google .copy:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.entrar.google .copy,
.icon {
    font-size: 1.2vw;
    margin: 0;
}

/* perfil */

.perfil {
    display: none;
}


/* compartilhar */
.share {
    position: relative;
    top: 7.5vw;
    height: 24vw;
    width: 37.5vw;
}

.share .texto {
    text-decoration: none;
}

.share .form {
    flex-direction: column;
}

.share .lista {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 5vw;
    row-gap: 1.4vw;
    margin-top: 2.25vw;
    margin-left: -1vw;
}

.share .texto {
    display: flex;
    align-items: center;
}


.share .icon {
    font-size: 2.45vw;
    margin-right: 1vw;
    margin-left: 1vw;
}

.share .copy {
    width: 3.75vw;
    height: 3.75vw;
    margin-right: .5vw;
    margin-left: .25vw;
}

.share .copy:hover {
    background-color: rgba(53, 53, 53, 0.4);
}

.share .copy .icon {
    color: var(--color-text-menu);
    margin: 0;
}



/* .share .itens:last-of-type {
    grid-column: span 2;
    margin-left: .75vw;
    margin-top: 1vw;
} */

/* tablet */
@media (max-width: 850px) {

    .comentar,
    .entrar,
    .share {
        top: 17.5vw;
        width: 40vw;
        height: 60vw;
        max-height: 60vw;
        padding: .75vw;
    }

    .form {
        margin: 1.5vw;
    }

    .form .subtitulo {
        font-size: calc(var(--font-size) * 2.8vw);
        margin-top: -.5vw;
    }

    .formularios label {
        margin: 1.75vw 0 1vw 0;
    }

    .formularios .input {
        padding: .35vw 1.75vw;
        width: 27.5vw;
    }

    .comentar .mensagem {
        height: 12vw;
    }

    .formularios .bnt {
        margin-top: 1.75vw;
        transform: translateX(calc(-50% + 1.5vw));
    }

    .formularios .bnt:hover {
        transform: translateX(calc(-50% + 1vw)) scale(1);
    }

    .entrar {
        top: 17.5vw;
        height: 64.5vw;
        max-height: 64.5vw;
    }

    .entrar .form {
        margin: .75vw 1.5vw 1vw 1.5vw;
    }

    .entrar label:first-of-type {
        width: 12vw;
        height: 12vw;
    }

    .entrar label:first-of-type .texto {
        font-size: calc(var(--font-size) * 2vw);
    }

    .share {
        top: 25vw;
        width: 50vw;
        height: 34vw;
    }

    .share .lista {
        margin-top: 3vw;
        margin-left: 5vw;
    }

    .share .texto {
        font-size: calc(var(--font-size) * 1.9vw);
    }

    .share .itens {
        margin: .5vw 0;
    }

    .share .itens:last-of-type span {
        font-size: calc(var(--font-size) * 2.3vw);
    }

    .share .icon {
        margin-right: 2vw;
    }
}

/* celular */
@media (max-width: 500px) {

    .comentar,
    .entrar,
    .share {
        top: 16vw;
        width: 71vw;
        height: 84.5vw;
        max-height: 84.5vw;
        border-radius: 2vw;
    }

    .form .subtitulo {
        font-size: calc(var(--font-size) * 4vw);
        margin-top: -.5vw;
    }

    .formularios label {
        margin: 1.75vw 0 1.5vw 0;
    }

    .formularios .input {
        width: 55vw;
    }

    .comentar .mensagem {
        height: 15vw;
    }

    .formularios .bnt {
        left: calc(50% - 1.75vw);
    }

    .form .sair {
        left: auto;
        right: -.5vw;
        font-size: calc(var(--font-size) * 3.25vw);
    }

    .entrar {
        top: 16.5vw;
        height: 92vw;
        max-height: 92vw;
    }

    .entrar .form {
        margin: 1vw 1.5vw 1.5vw 1.5vw;
    }

    .entrar label:first-of-type {
        width: 17.5vw;
        height: 17.5vw;
    }

    .entrar label:first-of-type .texto {
        font-size: calc(var(--font-size) * 3.75vw);
    }

    .share {
        top: 35vw;
        width: 80vw;
        height: 58vw;
    }

    .share .lista {
        margin-top: 4vw;
        margin-left: 9vw;
    }

    .share .texto {
        font-size: calc(var(--font-size) * 3.25vw);
    }

    .share .itens {
        margin: 1vw 0;
    }

    .share .itens:last-of-type {
        margin-top: 3vw;
    }

    .share .itens:last-of-type span {
        font-size: calc(var(--font-size) * 3.6vw);
    }

    .share .icon {
        margin-right: 3vw;
    }
}

@media (min-width: 1900px) {


    .contato,
    .entrar,
    .share {
        border-radius: .25vw;
    }

    .form {
        margin: 1vw;
    }

    .header-forms .subtitulo {
        font-size: calc(var(--font-size) * 1.5vw);
    }

    .header-forms .bnt {
        top: 1vw;
        right: 1vw;
    }

    .form .input {
        padding: .25vw 1vw;
        width: 27vw;
        border-radius: .25vw;
        margin-left: .5vw;
        margin-top: .25vw;
    }

    .form .bnt {
        border-radius: .25vw;
        padding: .25vw 1.5vw;
    }

    /* Contatos, ou entre en contato */
    .contato {
        width: 65vw;
        top: 6vw;
        padding: 1vw;
    }

    .contato .content {
        column-gap: 1vw;
    }

    .contato .form {
        row-gap: 1.75vw;
    }

    .contato .form .part {
        row-gap: .75vw;
    }

    .contato .input-box {
        display: flex;
        flex-direction: column;
    }

    .contato .form .mensagem {
        height: 12vw;
    }

    .contato .form input[type="submit"] {
        padding: .25vw 10vw;
    }

    /* login ou entrar soq em ingles sla */
    .entrar {
        height: 85vh;
        top: 5.5vw;
        width: 68vw;
    }


    .entrar .form {
        row-gap: 1vw;
    }

    .entrar .content {
        row-gap: 1vw;
    }

    .entrar #label_foto {
        width: 8.25vw;
        height: 8.25vw;
        border-radius: 50%;
        margin: 0;
    }

    .entrar #label_foto .icon {
        font-size: 3.5vw;
    }

    .entrar .content>.bnt {
        padding: .25vw 0;
        width: 7.5vw;
    }

    .entrar .google .form,
    .entrar .google .content {
        row-gap: 1.5vw;
    }

    .entrar .google .bnt-google {
        width: 27.5vw;
    }

    .entrar .google .textos {
        margin: 0 1vw;
    }

    .entrar .google .dadosEx.txt_120 .texto {
        font-size: calc(1.2 * 1.15vw);
        letter-spacing: .075vw;

    }

    .entrar .dadosEx {
        row-gap: 1vw;
    }

    .entrar .google .email {
        width: 27.5vw;
        padding: .25vw .5vw;
    }

    .entrar .google .email .texto {
        column-gap: .5vw;
    }

    .entrar .google .copy,
    .share .copy {
        border-radius: 50%;
        width: 2.5vw;
        height: 2.5vw;
    }

    .entrar.google .copy,
    .icon {
        font-size: 1.2vw;
        margin: 0;
    }

    /* perfil */

    .perfil {
        display: none;
    }

    /* compartilhar */
    .share {
        top: 7.5vw;
        height: 20vw;
        width: 37.5vw;
    }

    .share .lista {
        column-gap: 4vw;
        row-gap: 1vw;
        margin-top: 2.25vw;
        margin-left: -1vw;
    }

    .share .icon {
        font-size: 2.15vw;
    }

}