.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.25vw 0;
    z-index: 2;
    transition: all .5s;
}

.header.visible {
    background-color: var(--color-menu);
    border-bottom: var(--borda-menu);
    opacity: .95;
}

.header_itens {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.header_itens > .itens {
    margin: 0 1.75vw;
}

.header_itens a {
    text-align: center;
    text-decoration: none;
}

.header_itens .texto {
    transition: .25s;
}


/* clima */

.clima {
    position: absolute;
    left: 1.5vw;
    display: flex;
    align-items: center;
    font-size: .875vw;
    color: var(--color-text);
    font-family: var(--font-text);
}

.condicoes {
    display: flex;
    align-items: center;
    padding-left: .35vw;
    margin-top: .25vw;
}

.temp, .humidade, .vento {
    margin-right: .75vw;
}

.iconClima {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.75vw;
    height: 1.75vw;
    overflow: hidden;
}

.iconClima  img{
    width: 3.25vw;
}

.load {
    display: none;
    margin-left: 1.25vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.load div{
    width: 1.75vw;
    height: 1.75vw;
    border-radius: 50%;
    border: solid .3vw #969494;
    border-top: solid .3vw #5e5c5c;
    animation: load 1.25s infinite;
}

.resultado, .erro, .load {
    display: none;
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* celular  */
@media (max-width: 500px) {
    .header {
        padding: 0;
        height: 14.5vw;
        border-bottom: var(--borda-menu);
    }

    .header.visible {
        opacity: 1;
    }

    .header::before {
        top: 0;
        left: 0;
        z-index: 3;
        background-color: var(--cor-menu);
    }

    .header_itens .itens:not(.opcoes .itens, .header_itens .itens:nth-child(4)) {
        display: none;
    }

}