.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4.5vw;
    z-index: 2;
    transition: all .5s;
}

.header .texto {
    color: var(--color-text-menu);
}

.header.visible {
    background-color: var(--color-menu);
    border-bottom: var(--borda);
    opacity: .95;
}

.header_itens {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.header_itens>.itens {
    margin: 0 .5vw;
}

.header_itens .itens {
    display: flex;
    align-items: center;
}

.header_itens a {
    display: flex;
    align-items: center;
    column-gap: .75vw;
    text-decoration: none;
    border-radius: 2vw;
    transition: all .25s ease-in-out;
    padding: .3vw .65vw;
}

.header_itens a:hover {
    background-color: #ffffff10;
}

.header_itens .texto {
    transition: .25s;
}

.header_itens .profile {
    display: flex;
    align-items: center;
    justify-content: end;
}

.header_itens .profile a img {
    width: 2.75vw;
    height: 2.75vw;
    border-radius: 50%;
    object-fit: cover;
}

/* clima */

.clima {
    position: absolute;
    left: 1.5vw;
    display: flex;
    align-items: center;
    font-size: calc(var(--font-size) * .875vw);
    color: var(--color-text-menu);
    font-family: var(--font-text);
}

.setcity {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1vw;
}

.clima .input-box {
    display: flex;
    justify-content: center;
    column-gap: 1vw;
    padding: 0 0 0 .25vw;
    background-color: var(--color-principal);
}

.clima #cep {
    border: none;
    padding: .3vw 0;
    color: var(--color-text);
    transition: none;
    background-color: transparent;
}

.clima #cep:focus {
    outline: none;
}

.clima #cep::-webkit-inner-spin-button,
.clima #cep::-webkit-outer-spin-button {
    display: none;
}

#set {
    padding: 0 .4vw;
    color: var(--color-text);
    background-color: transparent;
    transition: none;
}

#set:hover {
    background-color: #323232;
}

.condicoes {
    display: flex;
    align-items: center;
    padding-left: .35vw;
    margin-top: .25vw;
}

.temp,
.humidade,
.vento {
    margin-right: .75vw;
}

.iconClima {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.75vw;
    height: 1.75vw;
    overflow: hidden;
}

.iconClima img {
    width: 3.25vw;
}

.load {
    display: none;
    margin-left: 1.25vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.load div {
    width: 1.75vw;
    height: 1.75vw;
    border-radius: 50%;
    border: solid .3vw #969494;
    border-top: solid .3vw #5e5c5c;
    animation: load 1.25s infinite;
}

.erro {
    cursor: pointer;
}

.resultado,
.erro,
.load {
    display: none;
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* tablet  */
@media (max-width: 1000px) {
    .header {
        height: 7.5vw;
    }

    .header_itens {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .header_itens .itens:not(.opcoes .itens) {
        margin:  0;
    }

    .header_itens a {
        column-gap: .75vw;
        border-radius: 2vw;
        padding: .3vw .65vw;
        justify-content: center;
        font-size: 2vw;
    }

    .header_itens .texto {
        font-size: 2vw;
    }

    .header_itens .profile a img {
        width: 3.5vw;
        height: 3.5vw;
    }

    .clima {
        font-size: 1.5vw;
    }

    .setcity {
        align-items: flex-start;
        flex-direction: column;
        row-gap: .75vw;
    }

    .clima .input-box {
        column-gap: 1.5vw;
        padding: 0 0 0 .35vw;
    }

    .clima #cep {
        padding: .35vw 0;
        font-size: 1.25vw;
    }

    .load div {
        width: 2.75vw;
        height: 2.75vw;
    }

    .erro {
        width: 75%  ;
    }
}

/* celular  */
@media (max-width: 500px) {
    .header {
        padding: 0;
        height: 14.5vw;
        border-bottom: none;

    }

    .header.visible {
        border-bottom: none;
        filter: opacity(1);
    }

    .header::before {
        top: 0;
        left: 0;
        z-index: 3;
        background-color: var(--cor-menu);
    }

    .header_itens .itens:not(.opcoes .itens, .header_itens .itens:nth-child(4)){
        display: none;
    }

    .clima {
        left: 3vw;
        z-index: 2;
        font-size: 3vw;
    }

    .setcity {
        flex-direction: row;
        column-gap: 2vw;
        align-items: center;
    }

    .condicoes {
        column-gap: 2vw;
    }

    .clima .input-box {
        column-gap: 2vw;
        padding: 0 0 0 .5vw;
    }

    .iconClima #condicao-icon {
        padding: 0;
        width: 6vw;
        height: 6vw;
        background-color: red;
    }

    .clima #cep {
        padding: .75vw 0;
        font-size: 2.25vw;
    }

    .load div {
        width: 6vw;
        height: 6vw;
    }
}

@media (min-width: 1900px) {
    .header {
        height: 3.75vw;
    }

    .header_itens .profile a img {
        width: 2.25vw;
        height: 2.25vw;
    }

    /* clima */
    .clima {
        font-size: calc(var(--font-size) * .8vw);
    }

    .setcity {
        column-gap: .85vw;
    }

    .clima .input-box {
        column-gap: .75vw;
    }

    .clima #cep {
        padding: .3vw 0;
    }

    #set {
        padding: 0 .4vw;
    }

    .condicoes {
        padding-left: .35vw;
    }

    .iconClima {
        width: 1.5vw;
        height: 1.5vw;
    }

    .iconClima img {
        width: 3vw;
    }

    .load {
        margin-left: 1.05vw;
    }

    .load div {
        width: 1.05vw;
        height: 1.05vw;
    }
}