/* acessbilidade */

.menu_audio {
    position: fixed;
    top: 80%;
    transform: translateX(-100%);
    left: 0;
    z-index: 5;
    background-color: var(--menu-cor);
    border: var(--borda-menu);
    border-left: none;
}

.menu_audio.transition {
    transition: all 1s;
}

.menu_audio.menuAudio_aberto {
    transform: translateX(0%);
}

.clic_audio {
    position: absolute;
    left: calc(100% - .1vw);
    top: 51%;
    transform: translateY(-50%);
    background-color: var(--menu-cor);
    height: 70%;
    width: 3.25vw;
    border-radius: 0 1vw 1vw 0;
    border: var(--borda-menu);
    border-left: none;
}

.clic_audio .fa-volume-up {
    position: relative;
    top: 1.35vw;
    left: .8vw;
    color: var(--cor-menu-2);
    transform: rotate(-90deg);
}

#audio_input {
    display: none;
}

.menu_audio audio {
    position: relative;
    width: 30vw;
    margin: .75vw;
}

.menu_audio audio::-webkit-media-controls-enclosure {
    padding: 1vw;
    border-radius: 0;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.menu_audio audio::-webkit-media-controls-panel {
    padding: .5vw;
    filter: invert(100%);
    transform: scale(1.1);

}

.menu_audio audio::-webkit-media-controls-current-time-display,
.menu_audio audio::-webkit-media-controls-time-remaining-display {
    color: var(--cor-menu-2);
    font-size: calc(var(--font-size-js) * 1vw);
    filter: invert(100%);
    margin-left: 1vw;
}

.menu_audio audio::-webkit-media-controls-play-button {
    transform: scale(2);
}

/* tablet */
@media (max-width: 850px) {
    /* acessbilidade */

    .menu_audio {
        bottom: 5vw;
    }

    .clic_audio {
        height: 70%;
        width: 5vw;
        border-radius: 0 2vw 2vw 0;
    }

    .clic_audio .fa-volume-up {
        top: 2vw;
        left: 1vw;
    }

    .menu_audio audio {
        width: 45vw;
    }

    .menu_audio audio::-webkit-media-controls-current-time-display,
    .menu_audio audio::-webkit-media-controls-time-remaining-display {
        font-size: calc(var(--font-size-js) * 1.85vw);
    }

    .menu_audio audio::-webkit-media-controls-play-button {
        transform: scale(1.25);
    }
}

/* celular  */
@media (max-width: 500px) {
    /* acessbilidade */

    .menu_audio {
        bottom: 15vw;
    }

    .clic_audio {
        width: 7.5vw;
        border-radius: 0 2.75vw 2.75vw 0;
    }

    .clic_audio .fa-volume-up {
        top: 3vw;
    }

    .menu_audio audio {
        width: 75vw;
    }

    .menu_audio audio::-webkit-media-controls-current-time-display,
    .menu_audio audio::-webkit-media-controls-time-remaining-display {
        font-size: calc(var(--font-size-js) * 2.75vw);
    }

}