/* acessbilidade */

.menu_audio {
    position: fixed;
    display: flex;
    align-items: center;
    transform: translateX(calc(-100% + 5vw));
    top: 80%;
    left: 0;
    z-index: 5;
}

.menu_audio.transition {
    transition: all 1s;
}

.menu_audio.menuAudio_aberto {
    transform: translateX(0%);
}

.menu_audio .box-audio {
    display: flex;
    align-items: center;
    background-color: var(--color-menu);
    border: var(--borda);
    border-left: none;
}

.box-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-menu);
    padding: 1.25vw;
    width: 2.5vw;
    border-radius: 0 .75vw .75vw 0;
    border: var(--borda);
    border-left: none;
    margin-left: -.1vw;
}

.box-icon .fa-volume-up {
    color: var(--color-text-menu);
    font-size: calc(var(--font-size) * 1.45vw);
}

#audio_input {
    display: none;
}

.menu_audio audio {
    position: relative;
    width: 30vw;
    margin: .75vw;
}

.menu_audio audio::-webkit-media-controls-enclosure {
    padding: 1vw;
    border-radius: 0;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.menu_audio audio::-webkit-media-controls-panel {
    padding: .5vw;
    filter: invert(100%);
}

.menu_audio audio::-webkit-media-controls-current-time-display,
.menu_audio audio::-webkit-media-controls-time-remaining-display {
    color: var(--color-text-menu);
    font-size: calc(var(--font-size) * 1vw);
    filter: invert(100%);
    margin-left: 1vw;
}

.menu_audio audio::-webkit-media-controls-play-button {
    transform: scale(2);
}

/* tablet */
@media (max-width: 1000px) {

    .menu_audio {
        transform: translateX(calc(-100% + 8vw));
        top: 80%;
    }

    .box-icon {
        padding: 2.25vw 0;
        width: 8vw;
        margin-left: -.3vw;
    border-radius: 0 1vw 1vw 0;

    }

    .box-icon .fa-volume-up {
        font-size: calc(var(--font-size) * 2.15vw);
    }

    .menu_audio audio {
        width: 45vw;
        height: 7vw;
    }

    .menu_audio audio::-webkit-media-controls-current-time-display,
    .menu_audio audio::-webkit-media-controls-time-remaining-display {
        font-size: calc(var(--font-size-js) * 1.75vw);
    }

}

/* celular  */
@media (max-width: 500px) {
    .menu_audio {
        transform: translateX(calc(-100% + 10vw));
        top: 80%;
    }

    .box-icon {
        padding: 3vw 0;
        width: 10vw;
        margin-left: -.3vw;

    }

    .box-icon .fa-volume-up {
        font-size: calc(var(--font-size) * 3vw);
    }

    .menu_audio audio {
        width: 70vw;
        height: 10vw;
    }

    .menu_audio audio::-webkit-media-controls-current-time-display,
    .menu_audio audio::-webkit-media-controls-time-remaining-display {
        font-size: calc(var(--font-size-js) * 1.75vw);
    }

    .menu_audio audio::-webkit-media-controls-play-button {
        transform: scale(1.25);
    }
}

@media (min-width: 1900px) {
    .box-icon {
        padding: 1.25vw;
        width: 2.25vw;
        border-radius: 0 .5vw .5vw 0;
        margin-left: -.1vw;
    }

    .box-icon .fa-volume-up {
        font-size: calc(var(--font-size) * 1.15vw);
    }

    .menu_audio audio {
        width: 30vw;
        margin: .75vw;
    }

    .menu_audio audio::-webkit-media-controls-enclosure {
        padding: 1vw;
    }

    .menu_audio audio::-webkit-media-controls-panel {
        padding: .5vw;
    }

    .menu_audio audio::-webkit-media-controls-current-time-display,
    .menu_audio audio::-webkit-media-controls-time-remaining-display {
        font-size: calc(var(--font-size-js) * 1vw);
        margin-left: 1vw;
    }

    .menu_audio audio::-webkit-media-controls-play-button {
        transform: scale(2);
    }
}
