/* acessbilidade */

.menu_audio {
    position: fixed;
    display: flex;
    align-items: center;
    transform: translateX(calc(-100% + 5vw));
    top: 80%;
    left: 0;
    z-index: 5;
}

.menu_audio.transition {
    transition: all 1s;
}

.menu_audio.menuAudio_aberto {
    transform: translateX(0%);
}

.menu_audio .box-audio {
    background-color: var(--color-menu);
    border: var(--borda);
    border-left: none;
}

.box-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-menu);
    padding: 1.25vw;
    width: 2.5vw;
    border-radius: 0 .75vw .75vw 0;
    border: var(--borda);
    border-left: none;
    margin-left: -.1vw;
}

.box-icon .fa-volume-up {
    color: var(--color-text);
    font-size: calc(var(--font-size) * 1.45vw);
}

#audio_input {
    display: none;
}

.menu_audio audio {
    position: relative;
    width: 30vw;
    margin: .75vw;
}

.menu_audio audio::-webkit-media-controls-enclosure {
    padding: 1vw;
    border-radius: 0;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.menu_audio audio::-webkit-media-controls-panel {
    padding: .5vw;
    filter: invert(100%);
}

.menu_audio audio::-webkit-media-controls-current-time-display,
.menu_audio audio::-webkit-media-controls-time-remaining-display {
    color: var(--color-text-menu);
    font-size: calc(var(--font-size) * 1vw);
    filter: invert(100%);
    margin-left: 1vw;
}

.menu_audio audio::-webkit-media-controls-play-button {
    transform: scale(2);
}

/* tablet */
@media (max-width: 850px) {
    /* acessbilidade */

    .menu_audio {
        bottom: 5vw;
    }

    .clic_audio {
        height: 70%;
        width: 5vw;
        border-radius: 0 2vw 2vw 0;
    }

    .clic_audio .fa-volume-up {
        top: 2vw;
        left: 1vw;
    }

    .menu_audio audio {
        width: 45vw;
    }

    .menu_audio audio::-webkit-media-controls-current-time-display,
    .menu_audio audio::-webkit-media-controls-time-remaining-display {
        font-size: calc(var(--font-size-js) * 1.85vw);
    }

    .menu_audio audio::-webkit-media-controls-play-button {
        transform: scale(1.25);
    }
}

/* celular  */
@media (max-width: 500px) {
    /* acessbilidade */

    .menu_audio {
        bottom: 15vw;
    }

    .clic_audio {
        width: 7.5vw;
        border-radius: 0 2.75vw 2.75vw 0;
    }

    .clic_audio .fa-volume-up {
        top: 3vw;
    }

    .menu_audio audio {
        width: 75vw;
    }

    .menu_audio audio::-webkit-media-controls-current-time-display,
    .menu_audio audio::-webkit-media-controls-time-remaining-display {
        font-size: calc(var(--font-size-js) * 2.75vw);
    }

}

@media (min-width: 1900px) {



    .box-icon {
        padding: 1.25vw;
        width: 2.25vw;
        border-radius: 0 .5vw .5vw 0;
        margin-left: -.1vw;
    }

    .box-icon .fa-volume-up {
        font-size: calc(var(--font-size) * 1.15vw);
    }

    .menu_audio audio {
        width: 30vw;
        margin: .75vw;
    }

    .menu_audio audio::-webkit-media-controls-enclosure {
        padding: 1vw;
    }

    .menu_audio audio::-webkit-media-controls-panel {
        padding: .5vw;
    }

    .menu_audio audio::-webkit-media-controls-current-time-display,
    .menu_audio audio::-webkit-media-controls-time-remaining-display {
        font-size: calc(var(--font-size-js) * 1vw);
        margin-left: 1vw;
    }

    .menu_audio audio::-webkit-media-controls-play-button {
        transform: scale(2);
    }
}