/* menu */
.botao {
    position: fixed;
    right: 1.5vw;
    z-index: 3;
    padding: .75vw;
    width: 2.75vw;
    height: 1.75vw;
    transform: scaleX(-1);
}

.clic_js {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 4;
    cursor: pointer;
}

#menu_input {
    display: none;
}

.botao .barras {
    position: absolute;
    background-color: var(--color-text);
    height: .15vw;
    border-radius: 1vw;
    transition: all 1s;
}

.botao.scrollou .barras {
    background-color: var(--color-text-menu);
}

.barras:nth-child(1) {
    width: calc(100% - 1.5vw);
}

#menu_input:checked~.botao .barras:nth-child(1) {
    transform: rotate(45deg) translate(15.5%, 450%);
    background-color: var(--color-text-menu);
    width: calc(100% - 1.5vw);
}

.barras:nth-child(2) {
    width: calc(70% - 1.5vw);
    top: 50%;
    translate: 0 -50%;
    transition: .75s;
}

#menu_input:checked~.botao .barras:nth-child(2) {
    background: transparent;
}


.barras:nth-child(3) {
    width: calc(50% - 1.5vw);
    bottom: .75vw;
}

#menu_input:checked~.botao .barras:nth-child(3) {
    transform: rotate(-45deg) translate(15.5%, -450%);
    width: calc(100% - 1.5vw);
    background-color: var(--color-text-menu);
}

/* configuração */

.config {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    transform: translateX(calc(100% + .2vw));
    height: 100%;
    z-index: 1;
    transition: .75s;
    border-left: var(--borda);
    background-color: var(--color-menu);
    filter: opacity(.95);
    max-width: 26vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.config::-webkit-scrollbar-thumb {
    background-color: var(--color-principal);
}

#menu_input:checked~.config {
    transform: translateX(0)
}

.config>.subtitulo {
    text-align: center;
    font-size: calc(var(--font-size) * 1.5vw);
    font-weight: 300;
    margin: 1.5vw 0 1vw 0;
    color: var(--color-title-menu);
}

.config .box-lista .forms {
    display: none;
}

.config .item {
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: var(--borda);
    border-bottom: var(--borda);
}

.config .box-input {
    display: grid;
    grid-template-rows: auto;
    width: 100%;
    padding: .5vw 1.15vw;
}

.config .subMenu .texto {
    display: flex;
    justify-content: space-between;
}

.config a {
    text-decoration: none;
}

.config .forms .texto {
    color: var(--color-text-menu);
}

.config .subMenu>.item:nth-child(1) {
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
    border-top: var(--borda);
}

.config .subMenu .dropDown {
    display: none;
}

.config .subMenu .item:nth-child(1) .fa-solid {
    color: var(--color-text-menu);
    font-size: 1.5vw;
    margin-right: 1.3vw;
    filter: opacity(.75);
    transition: all .25s ease-in-out;
    cursor: pointer;
}

.config .subMenu.aberto .item:nth-child(1) .fa-solid {
    transform: rotate(180deg);
}

.config .subMenu .subtitulo {
    margin: 0;
    padding: 1vw 0;
    font-size: calc(var(--font-size) * 1.2vw);
    font-weight: 300;
    margin-left: 1.3vw;
    color: var(--color-text-menu);
}

.config .subMenu .content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;
    height: 0vw;
    transition: all .5s ease-in-out;
    border-top: none;
}

.config .subMenu .content .item {
    border-top: none;
}

.config .sizes.aberto .content {
    height: 17vw;
}

.config .color.aberto .content {
    height: 20vw;
}

.config .otimizacao.aberto .content {
    height: 4.85vw;
}

.progress {
    margin: .75vw 0 .65vw 0;
    width: 20vw;
    -webkit-appearance: none;
    appearance: none;
    justify-self: center;
}

.progress::-webkit-slider-runnable-track {
    background-color: var(--color-text-menu);
    height: .1vw;
    -webkit-appearance: none;
    appearance: none;
}

.progress::-webkit-slider-thumb {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: .9vw;
    height: .9vw;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--color-text-menu);
    border-radius: 50%;
    cursor: pointer;
}

.config .color .box-input {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.color .item label:first-of-type {
    margin-left: 2vw;
    grid-column: 1;
    grid-row: 2;
}

.color .item label:last-of-type {
    grid-column: 2;
    grid-row: 2;
}

.color .input_cor {
    margin-left: 3.25vw;
    margin-bottom: .25vw;
    width: 4vw;
    height: 2vw;
    grid-row: 3;
    background-color: transparent;
}

.config .box-bnt {
    padding: 1vw 0;
}


.config .bnt {
    background-color: transparent;
    color: var(--color-text-menu);
    border-radius: .25vw;
    border: var(--borda);
    padding: .25vw 2vw;
    font-weight: 500;
    transition: all .15s ease-in-out;
}

.bnt:hover {
    transform: scale(1.025);
    background-color: rgba(173, 173, 173, 0.164);
}

.otimizacao .textos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.otimizacao .textos .texto {
    margin: 0;
    padding: 0 0 1vw 0;
}

.otimizacao .textos .texto:nth-child(2) {
    margin-left: -.8vw;
}

/* tablet */
@media (max-width: 1000px) {

    /* menu */
    .botao {
        right: 2vw;
        width: 4vw;
        height: 2.75vw;
    }

    #menu_input:checked~.botao .barras:nth-child(1) {
        transform: rotate(45deg) translate(15.5%, 890%);

    }

    #menu_input:checked~.botao .barras:nth-child(3) {
        transform: rotate(-45deg) translate(15.5%, -890%);

    }

    /* configuração */

    .config {
        max-width: 42.5vw;
    }

    .config > .subtitulo {
        font-size: calc(var(--font-size) * 2.5vw);
        margin: 2.2vw 0;
    }

    .config .box-input {
        padding: .75vw 1.5vw;
    }

    .config .subMenu .item:nth-child(1) .fa-solid {
        font-size: 2.25vw;
        margin-right: 1.5vw;
    }

    .config .subMenu .subtitulo {
        padding: 1.75vw 0;
        font-size: calc(var(--font-size) * 2vw);
        margin-bottom: 0;
    }

    .config .subMenu .texto {
        font-size: calc(var(--font-size) * 1.9vw);
    }

    .config .sizes.aberto .content {
        height: 30vw;
    }
    
    .config .color.aberto .content {
        height: 35.5vw;
    }
    
    .config .otimizacao.aberto .content {
        height: 8vw;
    }

    .progress {
        margin: 1vw 0 1vw 0;
        width: 32.5vw;
    }

    .color .input_cor {
        margin-left: 3.25vw;
        margin-bottom: .25vw;
        width: 7vw;
        height: 3vw;
    }

    .config .bnt {
        margin: .5vw 0;
        padding: .1vw 1.5vw;
        font-weight: 300;
        font-size: calc(var(--font-size) * 1.75vw);
    }

}

@media (max-width: 500px) {
    .botao {
        right: 4vw;
        width: 8vw;
        height: 5.65vw;
        padding: 1.25vw;
    }

    .botao .barras {
        background-color: var(--color-text-menu);
        height: .4vw;
    }

    .barras:nth-child(1) {
        width: calc(100% - 2.5vw);
    }

    #menu_input:checked~.botao .barras:nth-child(1) {
        transform: rotate(45deg) translate(15.5%, 2.25vw);
    }

    .barras:nth-child(2) {
        width: calc(75% - 2.5vw);
    }

    .barras:nth-child(3) {
        width: calc(50% - 2.5vw);
        bottom: 1.25vw;
    }

    #menu_input:checked~.botao .barras:nth-child(3) {
        transform: rotate(-45deg) translate(15.5%, -2.25vw);

    }

    .config {
        top: 14.25vw;
        transform: translateY(-100%);
        height: 125vw;
        border-left: none;
        border-bottom: var(--borda);
        filter: opacity(1);
        width: 100vw;
        max-width: none;
    }

    .config .box-lista .forms {
        display: flex;
        flex-direction: column;
    }

    .config .forms .item {
        border-top: var(--borda);
        border-bottom: none;
        padding: 3vw 0 3vw 4.25vw;
        justify-content: flex-start;
    }

    .config .forms .icon {
        margin-left: 3vw;
        font-size: calc(var(--font-size) * 3.75vw);
    }

    
    .config > .subtitulo {
        font-size: calc(var(--font-size) * 4.5vw);
        margin: 0 0 4vw 0;
    }

    .config .box-input {
        padding: 3vw;
    }

    .config .subMenu .item:nth-child(1) .fa-solid {
        font-size: 5vw;
        margin-right: 4vw;
    }

    .config .subMenu .subtitulo {
        margin-left: 4vw;
        padding: 3.25vw 0;
        font-size: calc(var(--font-size) * 3.75vw);
    }

    .config .subMenu .texto {
        font-size: calc(var(--font-size) * 3.5vw);
    }

    .config .sizes.aberto .content {
        height: 70vw;
    }
    
    .config .color.aberto .content {
        height: 72.5vw;
    }
    
    .config .otimizacao.aberto .content {
        height: 18vw;
    }

    .progress {
        margin: 3vw 0;
        width: 80vw;
    }

    .color .item .box-input {
        margin-left: 10vw;
    }

    .color .input_cor {
        width: 12vw;
        height: 7vw;
    }

    .config .bnt {
        margin: 2vw 0;
        padding: .2vw 2.5vw;
        font-size: calc(var(--font-size) * 3vw);
    }
}

@media (min-width: 1900px) {

    /* menu */
    .botao {
        right: 1.5vw;
        padding: .75vw;
        width: 2.5vw;
        height: 1.5vw;
    }

    .botao .barras {
        height: .125vw;
        border-radius: 1vw;
    }

    .barras:nth-child(1) {
        width: calc(100% - 1.5vw);
    }

    #menu_input:checked~.botao .barras:nth-child(1) {
        transform: rotate(45deg) translate(15.5%, 450%);
        width: calc(100% - 1.5vw);
    }

    .barras:nth-child(2) {
        width: calc(70% - 1.5vw);
    }

    .barras:nth-child(3) {
        width: calc(50% - 1.5vw);
        bottom: .75vw;
    }

    #menu_input:checked~.botao .barras:nth-child(3) {
        transform: rotate(-45deg) translate(15.5%, -450%);
        width: calc(100% - 1.5vw);
        background-color: var(--color-text-menu);
    }

    /* configuração */

    .config {
        width: 20vw;
    }

    .config>.subtitulo {
        font-size: calc(var(--font-size) * 1.25vw);
        margin: 1.5vw 0 1vw 0;
    }

    .config .box-input {
        width: calc(100% - (2 * .5vw));
        padding: .25vw .5vw;
        
    }

    .config .subMenu .item:nth-child(1) .fa-solid {
        font-size: 1.35vw;
        margin-right: 1.3vw;
    }

    .config .subMenu .subtitulo {
        margin: 0;
        padding: 1vw 0;
        font-size: calc(var(--font-size) * 1vw);
        margin-left: 1.3vw;
    }

    .config .sizes.aberto .content {
        height: 15vw;
    }

    .config .color.aberto .content {
        height: 17vw;
    }

    .config .otimizacao.aberto .content {
        height: 5vw;
    }

    .progress {
        margin: .75vw 0 .65vw 0;
        width: 20vw;
    }

    .progress::-webkit-slider-runnable-track {
        height: .1vw;
    }

    .progress::-webkit-slider-thumb {
        top: 50%;
        width: .9vw;
        height: .9vw;
    }

    .color .item label:first-of-type {
        margin-left: 2vw;
    }

    .color .input_cor {
        margin-left: 3.25vw;
        margin-bottom: .25vw;
        width: 4vw;
        height: 2vw;
    }

    .config .box-bnt {
        padding: 1vw 0;
    }


    .config .bnt {
        border-radius: .25vw;
        padding: .25vw 2vw;
    }

    .bnt:hover {
        transform: scale(1.025);
    }

    .otimizacao .textos .texto {
        margin: 0;
        padding: 0 0 1vw 0;
    }

    .otimizacao .textos .texto:nth-child(2) {
        margin-left: -.8vw;
    }
}