.box-section {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.section_5,
.section_6 {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    padding: 2vw 0;
}

.section_5 .content,
.section_6 .content {
    min-height: 25vw;
    width: 45vw;
    padding: 1vw 2vw 1vw 0;
}

.section_6 .images {
    position: absolute;
    top: 0%;
    left: -2vw;
    transform: translateY(-50%);
}

.section_6 .images img {
    padding: 0;
    width: calc(var(--img-size) * 52.5vw);
    height: calc(var(--img-size) * 30vw);
    object-fit: cover;
    box-shadow: .75vw .75vw 1vw 0 rgba(0, 0, 0, 0.25);
    max-width: calc(52.5vw * 1.05);
}

.section_5 .texto,
.section_6 .texto {
    margin-left: 1.75vw;
}

.section_6 {
    background-color: var(--color-principal-light);
}

.section_6 .titulo {
    color: var(--color-title-light);
    margin-right: 10vw;
}

.section_6 .texto {
    color: var(--color-text-light);
    font-weight: 500;
    margin-left: 1vw;
}

/* tablet */
@media (max-width: 1000px) {


    .section_5 .content,
    .section_6 .content {
        min-height: 22.5vw;
        width: 75vw;
        margin-right: 2vw;
    }

    .section_5 {
        padding: 3vw 0 23vw 7.5vw;
        flex-direction: row;
    }

    .section_6 {
        padding: 23vw 0 3vw 7.5vw;
        flex-direction: row;

    }

    .section_6 .images img {
        position: relative;
    }

    .section_6 .images img {
        width: calc(var(--img-size) * 75vw);
        max-width: none;
        height: calc(var(--img-size) * 40vw);
    }
}

/* celular  */
@media (max-width: 500px) {


    .section_5 {
        padding: 4vw 0 26vw 6;
    }

    .section_6 {
        padding: 26vw 0 4vw 6;
    }

    .section_6 .images img {
        width: calc(var(--img-size) * 75vw);
        height: calc(var(--img-size) * 45vw);
        box-shadow: 1vw 1vw 2.5vw 0 rgba(0, 0, 0, 0.5);
    }

    .section_5 .content,
    .section_6 .content {
        width: 90vw;
        margin-right: 3vw;
    }

    .section_5 .texto,
    .section_6 .texto {
        margin-left: 2.75vw;
    }

}

/* desktop */
@media (min-width: 1900px) {

    .section_5 .content,
    .section_6 .content {
        min-height: 20vw;
        width: 45vw;
    }

    .section_6 .images img {
        width: calc(var(--img-size) * 50vw);
        height: calc(var(--img-size) * 30vw);
    }
}