.section_2,
.section_8 {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 5vw 0;
    overflow: hidden;
    background-color: var(--color-principal-light);
}

.section_2 .content,
.section_8 .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 94vw;
    column-gap: 2.5vw;
    flex-direction: row-reverse;
}

.section_2 .textos,
.section_8 .textos {
    position: relative;
    padding-right: 2vw;
}

.section_2 .titulo,
.section_8 .titulo {
    color: var(--color-title-light);
}

.section_2 .texto,
.section_8 .texto {
    color: var(--color-text-light);
    font-weight: 500;
    margin-left: 1vw;
}

.section_2 .images img,
.section_8 .images img {
    margin-left: -5vw;
    width: calc(var(--img-size) * 55vw);
    height: calc(var(--img-size) * 30vw);
    object-fit: cover;
    box-shadow: .75vw .75vw 1vw 0 rgba(0, 0, 0, 0.25);
}

/* tablet */
@media (max-width: 1000px) {

    .section_2 .images img,
    .section_8 .images img {
        width: calc(var(--img-size) * 47.5vw);
        height: calc(var(--img-size) * 32.5vw);
    }
}

/* celular  */
@media (max-width: 500px) {

    .section_2 .texto,
    .section_8 .texto {
        margin-left: 2.75vw;
    }

    .section_2 .content,
    .section_8 .content {
        width: 90vw;
        row-gap: 3vw;
        flex-direction: column;
    }

    .section_2 .images img,
    .section_8 .images img {
        width: calc(var(--img-size) * 75vw);
        height: calc(var(--img-size) * 45vw);
        box-shadow: 1vw 1vw 2.5vw 0 rgba(0, 0, 0, 0.5);
    }
}

@media (min-width: 1900px) {

    .section_2,
    .section_8 {
        padding: 3vw 0;
    }

    .section_2 .content,
    .section_8 .content {
        width: 94vw;
        column-gap: 2.5vw;
    }

    .section_2 .texto,
    .section_8 .texto {
        margin-left: 1vw;
    }

    .section_2 .images img,
    .section_8 .images img {
        width: calc(var(--img-size) * 50vw);
        height: calc(var(--img-size) * 27.5vw);
    }
}