.section_1,
.section_7 {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 5vw 0;
    overflow: hidden;
}

.section_1 .content,
.section_7 .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 94vw;
}

.section_1 .textos,
.section_7 .textos {
    margin-top: 1vw;
    padding-right: 5%;
}

.section_1 .texto,
.section_7 .texto {
    margin-left: 1vw;
}

.section_1 .images {
    display: grid;
    gap: calc(var(--img-size) * 1vw);
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: auto repeat(2, 1fr);
}

.section_1 .images img {
    width: calc(var(--img-size) * 14vw);
    height: calc(var(--img-size) * 14.5vw);
    object-fit: cover;
}

.section_1 .images img:nth-child(1) {
    grid-row: span 2;
    width: calc(var(--img-size) * 26vw);
    height: calc(var(--img-size) * 30vw);
}

.section_1 .images img:nth-child(4) {
    grid-column: span 2;
    width: calc(var(--img-size) * 20vw);
}

.section_7 .images img {
    width: calc(var(--img-size) * 24vw);
    height: calc(var(--img-size) * 24.5vw);
    object-fit: cover;
    box-shadow: .75vw .75vw 1vw 0 rgba(0, 0, 0, 0.25);

}

/* tablet */
@media (max-width: 1000px) {
    .section_1 .texto,
.section_7 .texto {
    margin-left: 1.75vw;
}

    .section_1 .images img {
        width: calc(var(--img-size) * 12vw);
        height: calc(var(--img-size) * 12.5vw);
    }

    .section_1 .images img:nth-child(1) {
        width: calc(var(--img-size) * 21vw);
        height: calc(var(--img-size) * 26vw);
    }

    .section_1 .images img:nth-child(4) {
        width: calc(var(--img-size) * 18vw);
    }
}

/* celular  */
@media (max-width: 500px) {

    .section_1 .content,
.section_7 .content {
    flex-direction: column;
    width: 94vw;
    row-gap: 4vw;
}

.section_1 .texto,
.section_7 .texto {
    margin-left: 2.75vw;
}

.section_1 .images, .section_7 .images {
    align-self: center;
    gap: calc(var(--img-size) * 2vw);
}
    .section_1 .images img {
        width: calc(var(--img-size) * 25vw);
        height: calc(var(--img-size) * 25.5vw);
    }

    .section_1 .images img:nth-child(1) {
        width: calc(var(--img-size) * 35vw);
        height: calc(var(--img-size) * 53vw);
    }

    .section_1 .images img:nth-child(4) {
        width: calc(var(--img-size) * 35vw);
    }

    .section_7 .images .img {
        width: calc(var(--img-size) * 90vw);
        height: calc(var(--img-size) * 50vw);
    }
}

/* desktop */
@media (min-width: 1900px) {
    .section_1,
    .section_7 {
        padding: 3vw 0;
    }

    .section_1 .images img {
        width: calc(var(--img-size) * 12vw);
        height: calc(var(--img-size) * 12.5vw);
    }

    .section_1 .images img:nth-child(1) {
        width: calc(var(--img-size) * 24vw);
        height: calc(var(--img-size) * 26vw);
    }

    .section_1 .images img:nth-child(4) {
        width: calc(var(--img-size) * 18vw);
    }

    .section_7 .images img {
        width: calc(var(--img-size) * 23vw);
        height: calc(var(--img-size) * 23.5vw);
    }
}
