.box-section{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}


.section_5, .section_6{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    padding: 2vw 0;
}

.section_5 .content, 
.section_6 .content {
    min-height: 25vw;
    width: 43vw;
    padding: 1vw 0;
}

.section_6 .images {
    position: absolute;
    top: 0%;
    left: -2vw;
    transform: translateY(-50%);
}

.section_6 .images img {
    padding: 0;
    width: calc(var(--img-size) * 55vw);
    height: calc(var(--img-size) * 35vw);
    object-fit: cover;
    box-shadow: .75vw .75vw 1vw 0 rgba(0, 0, 0, 0.25);
    max-width: 58vw;
}

.section_5 .texto, .section_6 .texto{
    margin-left: 1vw;
}

.section_6 {
    background-color: var(--color-principal-light);
}

.section_6 .titulo {
    color: var(--color-title-light);
    margin-right: 10vw ;
}

.section_6 .texto {
    color: var(--color-text-light);
    font-weight: 500;
    margin-left: 1vw;
}