.section_3,
.section_4 {
    display: flex;
    justify-content: center;
    padding: 5vw 0;
}

.section_3 .content,
.section_4 .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.section_3 .images img {
    width: calc(var(--img-size) * 30vw);
    height: calc(var(--img-size) * 43vw);
    object-fit: cover;
    box-shadow: -.75vw .75vw 1vw 0 rgba(0, 0, 0, 0.25);
}

.section_3 .textos {
    width: 45%;
}

.section_3 .titulo,
.section_4 .titulo {
    background-image: var(--color-title-deg);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2.5vw;
}

.section_3 .box-lista {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin-left: 1.75vw;
}

.section_3 .item,
.section_4 .item {
    display: flex;
    align-items: center;
    column-gap: 1vw;
}

.section_3 .pos {
    background-color: rgba(92, 92, 92, 0.3);
    border: solid .1vw rgba(145, 145, 145, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8vw;
    height: 10vw;
}

.section_3 .item .texto:not(.section_3 .pos .texto) {
    margin-left: 1vw;
}

.section_4 {
    position: relative;
    padding: 6vw 0;
    box-shadow: 0 .2vw 2vw 0 rgba(0, 0, 0, 0.25);
}

.section_4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../img/tecnologia-no-campo.jpg);
    background-size: cover;
    background-position: center center;
    z-index: -1;
    filter: brightness(.25) opacity(.5);
}

.section_4 .content {
    width: 75vw;
    gap: 0;
}

.section_4 .box-lista {
    display: flex;
    justify-content: space-between;
}

.section_4 .item {
    flex-direction: column;
    width: 24%;
}

.section_4 .item .texto {
    margin-left: .5vw;
}

.section_4 .item .icon {
    color: var(--color-title);
    font-size: 2.5vw;
    align-self: flex-start;
    margin-bottom: 1vw;
}

/* tablet */
@media (max-width: 1000px) {
    .section_3 .images img {
        width: calc(var(--img-size) * 55vw);
        height: calc(var(--img-size) * 25vw);
    }

    .section_3 .content {
        flex-direction: column;
    }

    .section_3 .textos {
        width: 85%;
    }

    .section_3 .titulo,
    .section_4 .titulo {
        margin-bottom: 3.25vw;
    }

    .section_3 .box-lista {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 3vw;
        flex-shrink: 0;
    }

    .section_3 .item {
        width: 75vw;
    }

    .section_3 .pos {
        width: 5.5vw;
        height: 17.5vw;
        flex-shrink: 0;
        margin-right: 2vw;
    }

    .section_3 .item .texto:not(.section_3 .pos .texto) {
        margin-left: 2vw;
    }

    .section_4 .textos {
        width: 100%;
        margin-left: -2vw;
    }
    
    .section_4 .box-lista {
        flex-wrap: wrap;
        column-gap: 2.5vw;
        row-gap: 3vw;
        width: 80vw;
        margin-left: 2vw;
    }

    .section_4 .item {
        width: 38vw;
        flex-shrink: 0;
    }

    .section_4 .item .icon {
        font-size: 4.5vw;
    }
}

@media (min-width: 1900px) {
    .section_3,
    .section_4 {
        padding: 3vw 0;
    }

    .section_3 .content,
    .section_4 .content {
        gap: 2vw;
    }

    .section_3 .images img {
        width: calc(var(--img-size) * 27vw);
        height: calc(var(--img-size) * 40vw);
    }

    .section_3 .textos {
        width: 45%;
    }

    .section_3 .titulo,
    .section_4 .titulo {
        margin-bottom: 2.5vw;
    }

    .section_3 .box-lista {
        gap: 1vw;
        margin-left: 1.5vw;
    }

    .section_3 .item,
    .section_4 .item {
        column-gap: .75vw;
    }

    .section_3 .pos {
        width: 5vw;
        height: 8vw;
    }

    .section_3 .item .texto:not(.section_3 .pos .texto) {
        margin-left: 1vw;
    }

    .section_4 {
        padding: 4.5vw 0;
    }

    .section_4 .content {
        width: 75vw;
        gap: 0;
    }

    .section_4 .item {
        width: 24%;
    }

    .section_4 .item .texto {
        margin-left: .5vw;
    }

    .section_4 .item .icon {
        font-size: 2.5vw;
        margin-bottom: 1vw;
    }
}
