@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url("header.css");
@import url("forms.css");
@import url("menu.css");
@import url("menuAudio.css");
@import url("template.css");
@import url("topicos.css");
@import url("sectionType_1.css");
@import url("sectionType_2.css");
@import url("sectionType_3.css");
@import url("sectionType_4.css");
@import url("footer.css");
@import url("animations.css");


:root {
  --font-title: "Lexend", sans-serif;
  --font-text: "Montserrat", sans-serif;
  --color-menu: #151515;
  --font-size: 1;
  --img-size: 1;
  --letter-space: 1;
  --color-text-menu: #dde1e6;
  --color-menu-2: #111111;
  --borda: solid .1vw #dde1e6;

  /*  modo neutro padrão */
  --color-principal: #252929;
  --color-segundaria: #1a1a1a;
  --color-principal-deg: linear-gradient(to top, var(--color-segundaria) 10%, #1a1a1ad0 45%, transparent 90%);
  --color-title: #FEFEFE;
  --color-title-deg: linear-gradient(120deg, #FFFFFF 0%, #96989C 80%);
  --color-subtitle: #d8d5d5;
  --color-text: #dde1e6;

  --color-principal-light: #e7eef1;
  --color-title-light: #27272A;
  --color-subtitle-light: rgb(51, 51, 51);
  --color-text-light: #504f4f;
  --borda-light: solid .1vw #141414;
}

@media (prefers-color-scheme: light) {
  :root {
    /* modo claro padrão*/
    --cor-principal: #2A2F34;
    --cor-segundaria: #b6b6b6;
    --cor-titulo: #202020;
    --cor-subtitulo: #242424;
    --cor-texto: #2e2e2e;
    --borda: solid .01vw rgb(70, 70, 70);
    --cor-principal-deg: none;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5vw;
  background-color: var(--color-principal);
}

body {
  overflow-x: hidden;
  width: 100vw;
}

::-webkit-scrollbar {
  width: .575vw;
}

::-webkit-scrollbar-track {
  background-color: rgb(28, 28, 28);
}

::-webkit-scrollbar-thumb {
  background: rgba(235, 234, 234, 0.267);
  border-radius: .1vw;
}

::selection {
  background-color: #00f7ff69;
  color: rgb(26, 26, 26);
  -webkit-text-fill-color: black;
}


* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

* :not(.topicos, .config) {
  transition: background-color 1s;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.titulo {
  color: var(--color-title);
  font-family: var(--font-title);
  font-weight: 500;
  font-size: calc(var(--font-size) * 2.9vw);
  letter-spacing: calc(var(--letter-space) * .075vw);
  word-spacing: calc(var(--letter-space) * .075vw);
  margin-bottom: .9vw;
}

.subtitulo {
  font-size: calc(var(--font-size) * 1.7vw);
  letter-spacing: calc(var(--letter-space) * .075vw);
  word-spacing: calc(var(--letter-space) * .075vw);
  font-weight: 300;
  margin-bottom: .5vw;
  color: var(--color-subtitle);
  font-family: var(--font-title);
}

.texto {
  color: var(--color-text);
  font-family: var(--font-text);
  font-size: calc(var(--font-size) * 1.15vw);
  line-height: calc(var(--font-size) * 1.75vw);
  letter-spacing: calc(var(--letter-space) * .075vw);
  word-spacing: calc(var(--letter-space) * .075vw);
  font-weight: 300;
}

/* tablet */
@media (max-width: 850px) {
  html {
    scroll-padding-top: 8vw;
  }

  .titulo {
    font-size: calc(var(--font-size) * 3.5vw);
    margin-bottom: calc(var(--font-size) * 1.75vw);
    letter-spacing: calc(var(--letter-space) * .075vw);
    word-spacing: calc(var(--letter-space) * .075vw);
    font-weight: 400;
  }

  .subtitulo {
    font-size: calc(var(--font-size) * 2.75vw);
    margin-bottom: calc(var(--font-size) * 1.75vw);
    letter-spacing: calc(var(--letter-space) * .075vw);
    word-spacing: calc(var(--letter-space) * .075vw);
    font-weight: 400;
  }

  .texto {
    font-size: calc(var(--font-size) * 2.35vw);
    line-height: calc(var(--font-size) * 3.75vw);
    letter-spacing: calc(var(--letter-space) * .075vw);
    word-spacing: calc(var(--letter-space) * .075vw);
    font-weight: 400;
  }

  .titulo.claro,
  .subtitulo.claro {
    font-weight: 600;
  }

  .texto.claro {
    font-weight: 500;
  }

}

/* celular  */

@media (max-width: 500px) {

  html {
    scroll-padding-top: 15vw;
  }

  .titulo {
    font-size: calc(var(--font-size) * 4.75vw);
    margin-bottom: calc(var(--font-size) * 2.15vw);
    letter-spacing: calc(var(--letter-space) * .075vw);
    word-spacing: calc(var(--letter-space) * .075vw);

  }

  .subtitulo {
    font-size: calc(var(--font-size) * 4.5vw);
    margin-bottom: calc(var(--font-size) * 2vw);
    letter-spacing: calc(var(--letter-space) * .075vw);
    word-spacing: calc(var(--letter-space) * .075vw);
  }

  .texto {
    font-size: calc(var(--font-size) * 4.2vw);
    line-height: calc(var(--font-size) * 6.85vw);
    letter-spacing: calc(var(--letter-space) * .075vw);
    word-spacing: calc(var(--letter-space) * .075vw);
  }

}

/* telas grandes? */

@media (min-width: 1900px) {

  .titulo {
    font-size: calc(var(--font-size) * 2.25vw);
    margin-bottom: calc(var(--font-size) * 0.8vw);
    letter-spacing: calc(var(--letter-space) * .075vw);
    word-spacing: calc(var(--letter-space) * .075vw);

  }

  .subtitulo {
    font-size: calc(var(--font-size) * 1.15vw);
    margin-bottom: calc(var(--font-size) * .4vw);
    letter-spacing: calc(var(--letter-space) * .075vw);
    word-spacing: calc(var(--letter-space) * .075vw);
  }

  .texto {
    font-size: calc(var(--font-size) * .85vw);
    line-height: calc(var(--font-size) * 1.5vw);
    letter-spacing: calc(var(--letter-space) * .075vw);
    word-spacing: calc(var(--letter-space) * .075vw);
  }
}