.template {
    position: relative;
    padding: 8.5vw 0 10vw 0;
    width: 100vw;
    height: 30vw;
}

.template::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    background-image: url(../img/casal-bebendo-vinho.jpg);
    background-size: cover;
    background-position: center;
    z-index: -2;
}


.template::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    top: calc(var(--font-size) * 1vw);
    height: 100%;
    left: 0;
    background: linear-gradient(to top, var(--color-principal) 7%, var(--color-principal-deg) 25%, transparent);
    z-index: -1;
}

.template .conteudo {
    margin-left: 19vw;
    width: 70vw;
}

.template .titulo {
    font-size: calc(var(--font-size) * 3.85vw);
    line-height: 4.5vw;
    margin-bottom: 1.5vw;
}

.template .texto {
    margin-left: 1vw;
}