.template {
    position: relative;
    padding: 8.5vw 0 10vw 0;
    width: 100vw;
    height: 30vw;
}

.template::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    background-image: url(../img/tipos-de-drones.webp);
    filter: brightness(.5);
    background-size: cover;
    background-position: center;
    z-index: -2;
}


.template::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    top: calc(var(--font-size) * 1vw);
    height: 100%;
    left: 0;
    background: var( --color-principal-deg);
    z-index: -1;
}

.template .content {
    margin-left: 18vw;
    width: 70vw;
}

.template .titulo {
    background-image: var(--color-title-deg); 
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: calc(var(--font-size) * 3.85vw);
    line-height: 4.5vw;
    margin-bottom: 1.5vw;
}

.template .texto {
    margin-left: 1vw;
}