.topicos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: var(--borda-section);
    background-color: var(--color-segundaria);
    padding: .5vw 0vw;
    overflow: hidden;
}

.topicos .content>.titulo {
    text-align: center;
    font-weight: 300;
    font-size: calc(var(--font-size) * 2.25vw);
}

.topicos .carrocel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 37vw;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.topicos .carrocel-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37vw;
    flex-shrink: 0;
}

.topicos .carrocel::-webkit-scrollbar {
    display: none;
}

.topicos .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    perspective: 37.5vw;
    height: 100%;
    width: 21.5vw;
    flex-shrink: 0;
}

.topicos .cards-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2vw;
    padding: 1.75vw 1vw;
    width: 16.5vw;
    height: 75%;
    background-color: var(--color-principal);
    border-radius: 2%;
    flex-shrink: 0;
    box-shadow: .75vw .75vw 1vw 0 rgba(0, 0, 0, 0.25);
    transition: all ease-in-out .25s;
    transform: scale(.95);
    filter: opacity(.3);
}

.topicos .cards.centro .cards-box {
    transform: scale(1.075);
    filter: opacity(1);
}

.topicos .cards.cantoE .cards-box {
    transform: scale(.965) rotateY(-3.5deg);
    filter: opacity(.2);
}

.topicos .cards.cantoD .cards-box {
    transform: scale(.965) rotateY(3.5deg);
    filter: opacity(.2);
}

.topicos .cards.esquerdo .cards-box {
    transform: rotateY(-1.75deg);
    filter: opacity(.4);
}

.topicos .cards.direito .cards-box {
    transform: rotateY(1.75deg);
    filter: opacity(.4);
}

.regua {
    display: none;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: .5vw;
    height: 100%;
    left: 28%;
    background-color: red;
}

/* .topicos .car-box:nth-child(7) {
    transform: scale(.7) rotateY( 30deg) ;
    filter: opacity(.5);
    margin-left: -14vw;

}

.topicos .cards:nth-child(1) {
    transform: scale(.7) rotateY(-30deg) ;
    filter: opacity(.6);
    margin-right: -14vw;
} */
/* 
.topicos .cards:not(.topicos .cards:nth-child(3)) {
    
} */

.topicos .cards img {
    width: calc(var(--img-size) * 15vw);
    height: calc(var(--img-size) * 14vw);
    border-radius: 2.5%;
    box-shadow: .75vw .75vw 1vw 0 rgba(0, 0, 0, 0.25);
    object-fit: cover;
}

.topicos .cards .textos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.topicos .cards .subtitulo {
    font-size: calc(var(--font-size) * 1.5vw);
}

.topicos .cards .texto {
    font-size: calc(var(--font-size) * 1vw);
}

.topicos .cards a {
    text-decoration: none;
}