.topicos {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: var(--borda-section);
    background-color: var(--color-segundaria);
    padding: .5vw 0vw;
    overflow: hidden;
    z-index: 0;
}

.topicos .content>.titulo {
    text-align: center;
    font-weight: 300;
    font-size: calc(var(--font-size) * 2.25vw);
}

.topicos .setas {
    position: absolute;
    top: 53%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    filter: opacity(.1);
    transition: all .25s ease-in-out;
    z-index: 2;
}

.topicos .setas:hover {
    filter: opacity(1);
}

.topicos .setas.right {
    right: .575vw;
    /* espaço para a barra de rolagem*/
    padding: 13.5vw .5vw 13.5vw 3vw;
}

.topicos .setas.left {
    left: 0;
    padding: 13.5vw 3vw 13.5vw .5vw;
}

.topicos .arrow {
    color: var(--color-title);
    font-size: 3vw;
    transition: all .35s ease-in-out;
}

.topicos .arrow.left {
    transform: rotate(90deg);
}

.topicos .arrow.right {
    transform: rotate(-90deg);
}

.topicos .carrocel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 37vw;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.topicos .carrocel-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44vw;
    flex-shrink: 0;
}

.topicos .carrocel::-webkit-scrollbar {
    display: none;
}

.topicos .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    perspective: 37.5vw;
    height: 100%;
    width: 21.5vw;
    flex-shrink: 0;
}

.topicos .cards-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: .75vw;
    width: 19vw;
    height: 75%;
    background-color: var(--color-principal);
    border-radius: 2%;
    flex-shrink: 0;
    box-shadow: .75vw .75vw 1vw 0 rgba(0, 0, 0, 0.25);
    transition: all ease-in-out .25s;
    transform: scale(.95);
    filter: opacity(.3);
    overflow: hidden;
}

.topicos .cards.centro .cards-box {
    transform: scale(1.075);
    filter: opacity(1);
}

.topicos .cards.cantoE .cards-box {
    transform: scale(.965) rotateY(-3.5deg);
    filter: opacity(.2);
}

.topicos .cards.cantoD .cards-box {
    transform: scale(.965) rotateY(3.5deg);
    filter: opacity(.2);
}

.topicos .cards.esquerdo .cards-box {
    transform: rotateY(-1.75deg);
    filter: opacity(.4);
}

.topicos .cards.direito .cards-box {
    transform: rotateY(1.75deg);
    filter: opacity(.4);
}


.topicos .cards a:nth-child(1) {
    width: 100%;
}

.topicos .cards img {
    width: 100%;
    height: 18vw;
    border-radius: 2.5%;
    box-shadow: .75vw .75vw 1vw 0 rgba(0, 0, 0, 0.25);
    object-fit: cover;
}

.topicos .cards .textos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 .4vw;
}

.topicos .cards .subtitulo {
    font-size:  1.5vw;
}

.topicos .cards .texto {
    font-size:  1vw;
    letter-spacing:.065vw;
    line-height:  1.5vw;
    padding: 0 1vw;
}

.topicos .cards a {
    text-decoration: none;
}

/* tablet  */
@media (max-width: 1000px) {

    .topicos .content>.titulo {
        font-size: calc(var(--font-size) * 3vw);
        margin-bottom: .5vw;
    }

    .topicos .carrocel {
        height: 50vw;
    }

    .topicos .carrocel-box {
        height: 45vw;
    }

    .topicos .cards {
        width: 28.5vw;
    }

    .topicos .cards-box {
        width: 25vw;
        height: 95%;
    }

    .topicos .cards img {
        height: 22vw;
    }

    .topicos .cards .subtitulo {
        font-size: 2.15vw;
        margin-bottom: .5vw;
    }

    .topicos .cards .texto {
        font-size: 1.45vw;
        line-height:  2.4vw;
        padding: 0 .75vw;
    }
}

/* celular  */
@media (max-width: 500px) {
    .topicos .content>.titulo {
        font-size: calc(var(--font-size) * 5vw);
        margin-bottom: 1vw;
    }

    .topicos .setas {
        filter: opacity(1);
    }

    .topicos .arrow {
        font-size: 9vw;
    }

    .topicos .carrocel {
        height: 84vw;
    }

    .topicos .carrocel-box {
        height: 73vw;
    }

    .topicos .cards {
        height: 100%;
        width: 46vw;
    }

    .topicos .cards-box {
        height: 100%;
        width: 41vw;
        box-shadow: 1vw 1vw 2.5vw 0 rgba(0, 0, 0, 0.5);

    }

    .topicos .cards img {
        height: 38.75vw;
    }

    .topicos .cards .subtitulo {
        font-size: 3.15vw;
        margin-bottom: 1.75vw;
    }

    .topicos .cards .texto {
        font-size: 2.5vw;
        line-height: 4vw;
        padding: 0 .75vw;
    }
}

@media (min-width: 1900px) {

    .topicos {
        padding: .25vw 0vw;
    }

    .topicos .content>.titulo {
        font-size: calc(var(--font-size) * 1.5vw);
    }

    .topicos .setas {
        top: 53%;
    }

    .topicos .setas.right {
        right: .575vw;
    }

    .topicos .setas.left {
        left: 0;
    }

    .topicos .arrow {
        font-size: 2.5vw;
    }

    .topicos .carrocel {
        height: 36.5vw;
    }

    .topicos .carrocel-box {
        height: 33.5vw;
    }

    .topicos .cards {
        perspective: 37.5vw;
        width: 19.5vw;
    }

    .topicos .cards-box {
        width: 17vw;
        height: 90%;
    }

    .topicos .cards img {
        height: 17vw;
    }

    .topicos .cards .subtitulo {
        font-size: calc(var(--font-size) * 1.25vw);
    }

    .topicos .cards .texto {
        font-size: calc(var(--font-size) * .825vw);
        padding: 0 1vw;
    }
}